// Gelion font faces

@font-face {
  font-family: "GelionLight";
  src: url("../fonts/gelion/Gelion-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GelionRegular";
  src: url("../fonts/gelion/Gelion-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GelionItalic";
  src: url("../fonts/gelion/Gelion-Regular-Italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GelionMedium";
  src: url("../fonts/gelion/Gelion-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GelionMediumItalic";
  src: url("../fonts/gelion/Gelion-Medium-Italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GelionBold";
  src: url("../fonts/gelion/Gelion-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GelionBoldItalic";
  src: url("../fonts/gelion/Gelion-Bold-Italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GelionSemiBold";
  src: url("../fonts/gelion/Gelion-SemiBold.ttf") format("truetype");
  font-display: swap;
}
